@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(Layout.VerticalLayout)">
                <NotAuthorized>
                    @{
                        var returnUrl = Uri.EscapeDataString(NavigationManager.Uri);
                        NavigationManager.NavigateTo($"/auth-login?returnUrl={returnUrl}", forceLoad: true);
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Page not found</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>