@inherits LayoutComponentBase

<div class="wrapper">

  <Topbar />

  <HorizontalNav />

  <div class="page-content">

    <div class="page-container">

      @Body

    </div> 

    <Footer />

  </div>

</div>

<Customizer />